<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cards</title>
<style>body{ background-image: url("https://i.pinimg.com/originals/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg"); background-repeat: no-repeat; background-size: cover;
}
#h1{
display: flex; align-items:center; justify-content: space-around; background-color: rgb(49, 139,
223); border-radius: 15px; width:
800px;
}
h2{
display: flex; align-items: center; justify-content: center; }
#whole{
display: flex; flex-direction: column; align-items: center; justify-content: center;
}
#main{
display: flex; flex-direction: row; align-items: center; justify-content: center; height: 650px; margin-top: 10px;
}
#d1{ margin-top: -160px; height: 500px; background-color: #ffffff92; float: left;
border-radius: 25px;
}
#d2,#d3{ margin-top:
-160px; height: 500px; background-color: #ffffff92; float:left; margin-left: 90px; border-radius: 25px;
}
#i1,#i2,#i3{
margin-top: 25px; height:180px; width:200px; border-radius: 70px; margin-left:40px; border:2px solid black;
}
#p1,#p2,#p3{ margin-top: -30px; padding:41px; height:300px; width:200px;
}
button{ display: flex; align-items: center; margin: auto; margin-top:
-170px;
}
</style>
</head>
<body>
<div id="whole">
<h1 id="h1">Famous Foods</h1>
<div id="main">
<div id="d1">
<img src="https://easychickenrecipes.com/wp-content/uploads/2019/11/butter-chicken-reshoot-6-of-8.jpg" id="i1">
<h2>Indian Food</h2>
<p id="p1">
    Butter Chicken (Murgh Makhani),Biryani,Masala Dosa,Idli Sambarand ect.These dishes represent just a 
fraction of India's vast culinary landscape, which includes a wide variety of vegetarian and non-vegetarian options, snacks, desserts, and regional specialties.
</p>
<button>View More</button>
</div>
<div id="d2">
<img src="https://lakegenevacountrymeats.com/wp-content/uploads/Fried-Chicken-Pieces-1.jpg" id="i2">
<h2>American Food</h2>
<p id="p2">
    Hamburgers and Cheeseburgers,Hot Dogs,Pizza, BBq Ribs,fried chickenThese dishes represent
     just a small sample of the diverse and delicious foods found across America, showcasing the country's culinary creativity
     and cultural influences.
</p>
<button>View More</button>
</div>
<div id="d3">
<img src="https://www.bitemybun.com/wp-content/uploads/2021/03/Japanese-mochi-rice-balls-1200x675.jpg" id="i3">
<h2>Japanes Food</h2>
<p id="p3">
 Yakitori,Tonakatsu,soba,matcha,mochiThese foods represent just a fraction of Japan's rich 
 culinary heritage, known for its fresh ingredients, meticulous preparation, and emphasis on seasonal flavors.
</p>
<button>View More</button>
</div>
</div>
</div>
</body>
</html>
